<h3>Все объявления</h3>
<% @ad.each do |ad| %>
	<div class="card">
		<div class="card-header"><%= ad.title %></div>
		<div class="card-body">
		<% if ad.photo.attached? %>
		<%= image_tag ad.photo.variant(resize: "100x100"), class: ""  %>
		<% end %>
		<p class="card-text"><%= truncate(ad.description, :length => 160, :separator => ' ') %></p>
		<p class="card-text"><%= ad.adress %></p>
		<p class="card-text"><%= ad.status %></p>
		<%= link_to "Смотреть", ad_path(ad), :class => 'btn btn-outline-primary' %>
		</div>
	</div>
	<br />
<% end %>
