<h3>Все объявления</h3>
<% @ad.each do |ad| %>
	<div class="alert alert-light">
		<h3><%= ad.title %></h3>
		<p><%= image_tag ad.photo.variant(resize: "100x100") %></p>
		<p><%= ad.description %></p>
		<p><%= ad.adress %></p>
		<p><%= ad.status %></p>
		<%= link_to "Смотреть", ad_path(ad), :class => 'btn btn-outline-primary' %>
	</div>
<% end %>
