<h1><%= @ad.title %></h1>
<p><%= @ad.description %></p>
<% if @ad.photo.attached? %>
<p><%= image_tag(@ad.photo) %></p>
<% end %>
<p><%= @ad.adress %></p>
<p><%= @ad.tegs %></p>
<p><%= @ad.status %></p>
<hr>
<%= link_to "Редактировать", edit_ad_path(@ad), class: "btn btn-warning" %>
<%= link_to "Удалить", ad_path(@ad), method: :delete, data:{confirm: "Удалить?"}, class: "btn btn-danger" %>
