<div class="containet-fluid">

  <div class="row">
    <div class="col-4">

      <% if @ad.photo.attached? %>
        <%= image_tag @ad.photo.variant(resize: "300x300"), class:"img-fluid"%>
      <% else %>
        <p>No photo</p>
      <% end %>

    </div>
    <div class="col-8">
      <h5><%= @ad.title %></h5>
      <p class="text-justify"><%= @ad.description %></p>
      <span class="text-secondary">Адрес:</span>
      <%= @ad.adress %><br>
      <span class="text-secondary">Теги:</span>
        <% @ad.tags.each do |tag| %>
        <span class="badge badge-secondary"><%= tag.name %></span>
      <% end %>
      <br>
      <span class="text-secondary">Статус:</span>
      <% if @ad.status? %>
        Активно
        <br>
      <% else %>
        Неактивно
        <br>
      <% end %>
      <span class="text-secondary">Пользователь:
      </span><%= @user.email %><br>
    </div>
  </div>
  <% if current_user != nil %>
    <% if current_user.id == @user.id %>
      <%= link_to "Редактировать", edit_ad_path(@ad), class: "btn btn-outline-warning" %>
      <%= link_to "Удалить", ad_path(@ad), method: :delete, data:{confirm: "Удалить?"}, class: "btn btn-outline-danger" %>
    <% end %>
  <% end %>
  <hr>

  <h5>Все комментарии</h5>
  <% @ad.comments.each do |comment| %>
    <div class="alert alert-secondary">
      <strong><%= comment.username %></strong>:
      <%= comment.body %>
    </div>
  <% end %>
  <hr>

  <h5>Добавление коментария</h5>
  <%= form_for ([@ad, @ad.comments.build]) do |f| %>
  <div class="form-group">
    <lable>Имя</lable>
    <%= f.text_field :username, :class=> 'form-control' %>
  </div>
  <div class="form-group">
    <lable>Комментарий</lable>
    <%= f.text_area :body, :class=> 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-outline-primary"%>
  </div>
<% end %>
</div>
