<h3>Личный кабинет</h3>
<% if user_signed_in? %>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize: "100x100"), class: "rounded-circle" %><br>
  <% end %>

  <%= current_user.email %>
  <br>
  <%= link_to 'Редактировать профиль', edit_user_registration_path %>
  <br>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  <hr>
  <%= render template: "ads/index" %>
<% else %>
  <%= link_to 'Войти', new_user_session_path %>
  или
  <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
